.heading {
    font-size: 22px;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}

.main {
    margin: 120px;
    
}

.margin {
    margin-top: 5%;
}

.caption {
    font-size: 16px;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    margin-bottom: 2%;
}

.check {
    padding-top: 7px;
    padding-bottom: 7px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 3px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #777777;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 5px;
    top: 4px;
    width: 6px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(55deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}