.heading {
    font-size: 22px;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}

.main {
    margin: 120px;
    
}

.margin {
    margin-top: 3%;
}

.img_sm {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

.img_md {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
.img_lg {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  } 