.heading {
    font-size: 22px;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}

.main {
    margin: 120px;
    
}

.margin {
    margin-top: 5%;
}

.email {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 3px;
    padding-left: 8px;
}